In [2]:
setwd("~/piRNA/Workspaces/julia/piRNA/unique_mapping/unique_coverage/Hum2")
testis<- read.table("Hum2_coverage", header=FALSE,sep="\t")

In [1]:
setwd("~/piRNA/Workspaces/julia/piRNA_reads/mapping_species/coverage/Hum1")

In [2]:
hum1<- read.table("Hum1_coverage.bed", header=FALSE,sep="\t")

In [3]:
head(hum1)

  V1   V2    V3    V4
1 chr1 12536 12537 1
2 chr1 12537 12538 1
3 chr1 12538 12539 1
4 chr1 12539 12540 1
5 chr1 12540 12541 1
6 chr1 12541 12542 1

In [8]:
high_coverage <- subset(hum1, hum1[, 4] > 2000)

In [9]:
nrow(high_coverage)

[1] 2449

In [10]:
setwd("~/piRNA/Workspaces/julia/lnc")

In [11]:
write.table(high_coverage, file = "Hum1_high_coverage.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

In [6]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
#chromosome data
setwd("~/piRNA/Workspaces/julia/PrimaryData/ref_data/human")
chromosome_data<- read.table("summary_chroms.tsv", header=TRUE)

In [4]:
names(testis)[names(testis) == "V1"]<- "REFSEQ_CHROM"

In [5]:
coverage<- merge(testis, chromosome_data, by= "REFSEQ_CHROM")

In [10]:
head(coverage)

  UCSC_CHROM position V2    V3
1 chr1       16217    16218 1
2 chr1       16218    16219 1
3 chr1       16219    16220 1
4 chr1       16220    16221 1
5 chr1       16221    16222 1
6 chr1       16222    16223 1

In [7]:
coverage$position<-coverage$V2 -1

In [9]:
coverage<-coverage[,c(5,7,2,3)]

In [12]:
options(scipen = 99999)

In [13]:
setwd("~/piRNA/Workspaces/julia/piRNA/unique_mapping/unique_coverage/Hum2")
write.table(coverage, file = "Hum2_coverage.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

In [1]:
setwd("~/piRNA/PrimaryData/ref_data/human")
testis<- read.table("human_testis_non_annotated.gtf", header=FALSE,sep="\t")

Warning message in file(file, "rt"):
“cannot open file 'Hum2_coverage': No such file or directory”

ERROR: Error in file(file, "rt"): cannot open the connection

In [6]:
head(testis)

  V1 V2        V3         V4     V5     V6 V7 V8
1 1  StringTie gene       180884 181110 .  +  .
2 1  StringTie transcript 180884 181110 .  +  .
3 1  StringTie exon       180884 181110 .  +  .
4 1  StringTie gene       268297 268582 .  +  .
5 1  StringTie transcript 268297 268582 .  +  .
6 1  StringTie exon       268297 268582 .  +  .
  V9
1 gene_id XLOC_000007; oId STRG.11.1;  class_code r;  tss_id TSS9;
2 gene_id XLOC_000007; transcript_id TCONS_00000010; oId STRG.11.1; class_code r; tss_id TSS9; FPKM 0.321454;
3 gene_id XLOC_000007; transcript_id TCONS_00000010; exon_number 1; oId STRG.11.1; class_code r; tss_id TSS9;
4 gene_id XLOC_000009;
5 gene_id XLOC_000009; transcript_id TCONS_00000012;
6 gene_id XLOC_000009; transcript_id TCONS_00000012; exon_number 1;

In [25]:
transcript_rows <- subset(testis, grepl("gene", testis[,3], ignore.case = TRUE))

In [26]:
transcript_rows$V1 <- ifelse(transcript_rows$V1 == 1, "chr1", 
                             ifelse(transcript_rows$V1 == 2, "chr2", 
                                    ifelse(transcript_rows$V1 == 3, "chr3",
                                           ifelse(transcript_rows$V1 == 4, "chr4",
                                                  ifelse(transcript_rows$V1 == 5, "chr5",
                                                         ifelse(transcript_rows$V1 == 6, "chr6", 
                                                                ifelse(transcript_rows$V1 == 7, "chr7", 
                                                                       ifelse(transcript_rows$V1 == 8, "chr8", 
                                                                              ifelse(transcript_rows$V1 == 9, "chr9", 
                                                                                     ifelse(transcript_rows$V1 == 10, "chr10", 
                                                                                            ifelse(transcript_rows$V1 == 11, "chr11", 
                                                                                                   ifelse(transcript_rows$V1 == 12, "chr12", 
                                                                                                          ifelse(transcript_rows$V1 == 13, "chr13", 
                                                                                                                 ifelse(transcript_rows$V1 == 14, "chr14", 
                                                                                                                        ifelse(transcript_rows$V1 == 15, "chr15", 
                                                                                                                               ifelse(transcript_rows$V1 == 16, "chr16", 
                                                                                                                                      ifelse(transcript_rows$V1 == 17, "chr17", 
                                                                                                                                             ifelse(transcript_rows$V1 == 18, "chr18", 
                                                                                                                                                    ifelse(transcript_rows$V1 == 19, "chr19", 
                                                                                                                                                    ifelse(transcript_rows$V1 == 20, "chr20", 
                                                                                                                                                    ifelse(transcript_rows$V1 == 21, "chr21", 
                                                                                                                                                    ifelse(transcript_rows$V1 == 21, "chr21", 
                                                                                                                                                    ifelse(transcript_rows$V1 == "MT", "chrMT",
                                                                                                                                                    ifelse(transcript_rows$V1 == "X", "chrX",
                                                                                                                                                    ifelse(transcript_rows$V1 == "Y", "chrY", transcript_rows$V1)))))))))))))))))))))))))

In [27]:
head(transcript_rows)

   V1   V2        V3   V4     V5     V6 V7 V8
1  chr1 StringTie gene 180884 181110 .  +  .
4  chr1 StringTie gene 268297 268582 .  +  .
7  chr1 StringTie gene 824435 825064 .  +  .
10 chr1 StringTie gene 863337 863780 .  +  .
13 chr1 StringTie gene 890777 890985 .  +  .
16 chr1 StringTie gene 890998 891324 .  +  .
   V9
1  gene_id XLOC_000007; oId STRG.11.1;  class_code r;  tss_id TSS9;
4  gene_id XLOC_000009;
7  gene_id XLOC_000022;
10 gene_id XLOC_000024; oId STRG.1.1;  class_code u;  tss_id TSS38;
13 gene_id XLOC_000026; oId STRG.3.1;  class_code u;  tss_id TSS40;
16 gene_id XLOC_000027; oId STRG.4.1;  class_code r;  tss_id TSS41;

In [28]:
table(transcript_rows$V1)

   15    23    24    25    26    27    28    29    30    31    32    33    34
 2394     3     4     3    21     2     9    16     2     2     9     1     2
   35    36    37    38    39    40    41    42    43    44    45    46    47
   16    10    10     1     1     1     1     9     3     7     2     1     3
   48    49    50    51    52    53    54    55    56    57  chr1 chr10 chr11
    9     3     3     4     2     1     8     2     5     4  8877  5060  4483
chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19  chr2 chr20 chr21  chr3  chr4
 4685  3343  3172  3324  3704  4556  2200  4697  8248  2838  1294  6000  4770
 chr5  chr6  chr7  chr8  chr9 chrMT  chrX  chrY
 5318  5806  5578  4088  4736     9  1231   172

In [29]:
transcript_rows <- transcript_rows[!grepl("^15\\b", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("23", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("24", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("25", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("26", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("27", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("28", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("29", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("30", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("31", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("32", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("33", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("34", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("35", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("36", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("37", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("38", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("39", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("40", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("41", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("42", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("43", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("44", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("45", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("46", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("47", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("48", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("49", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("50", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("51", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("52", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("53", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("54", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("55", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("56", transcript_rows$V1), ]
transcript_rows <- transcript_rows[!grepl("57", transcript_rows$V1), ]

In [30]:
head(transcript_rows)

   V1   V2        V3   V4     V5     V6 V7 V8
1  chr1 StringTie gene 180884 181110 .  +  .
4  chr1 StringTie gene 268297 268582 .  +  .
7  chr1 StringTie gene 824435 825064 .  +  .
10 chr1 StringTie gene 863337 863780 .  +  .
13 chr1 StringTie gene 890777 890985 .  +  .
16 chr1 StringTie gene 890998 891324 .  +  .
   V9
1  gene_id XLOC_000007; oId STRG.11.1;  class_code r;  tss_id TSS9;
4  gene_id XLOC_000009;
7  gene_id XLOC_000022;
10 gene_id XLOC_000024; oId STRG.1.1;  class_code u;  tss_id TSS38;
13 gene_id XLOC_000026; oId STRG.3.1;  class_code u;  tss_id TSS40;
16 gene_id XLOC_000027; oId STRG.4.1;  class_code r;  tss_id TSS41;

In [31]:
transcript_rows_data<- transcript_rows[,c(1,4,5,3,9)]

In [35]:
head(transcript_rows_data)

   V1   V4     V5     gene_id     V3
1  chr1 180884 181110 XLOC_000007 gene
4  chr1 268297 268582 XLOC_000009 gene
7  chr1 824435 825064 XLOC_000022 gene
10 chr1 863337 863780 XLOC_000024 gene
13 chr1 890777 890985 XLOC_000026 gene
16 chr1 890998 891324 XLOC_000027 gene

In [33]:
transcript_rows_data$gene_id <- sub("^.*gene_id\\s+([^;]+);.*$", "\\1", transcript_rows_data$V9)

In [34]:
transcript_rows_data<- transcript_rows_data[,c(1,2,3,6,4)]

In [36]:
setwd("~/piRNA/Workspaces/julia/lnc")
write.table(transcript_rows_data, file = "not_annotated_testis.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

In [78]:
setwd("~/piRNA/Workspaces/julia/lnc")
h19<- read.table("human_precursors_hg19.bed", header=FALSE,sep="\t")

In [81]:
head(h19)

  V1   V2        V3        V4
1 chr1   1496227   1509964 pi-SSU72.1
2 chr1   1592939   1624167 pi-SLC35E2B.1
3 chr1  24577919  24662214 1-p36-1107.1
4 chr1 145209670 145293590 pi-NOTCH2NL.1
5 chr1 173837220 173855774 pi-ZBTB37.2
6 chr1 173837220 173872687 pi-ZBTB37.1

In [80]:
h19<- h19[,c(1,2,3,4)]

In [82]:
write.table(h19, file = "h19.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

awk '{OFS="\t"; print $1,$2,$3,$5,$4}' human_precursors_hg38.bed |awk -F "." '{print $1}'|sort -u > human_precursors_hg38_uniq.bed

In [110]:
setwd("~/piRNA/Workspaces/julia/lnc")
h38<- read.table("human_precursors_hg38_uniq.bed", header=FALSE,sep="\t")

In [112]:
h38$len<- h38$V3 - h38$V2

In [113]:
head(h38)

  V1    V2        V3        V4           V5           len
1 chr10 103493978 103606454 Prepachytene pi-NEURL1    112476
2 chr10 103594026 103855543 Prepachytene pi-SH3PXD2A  261517
3 chr10  28789400  28795995 Pachytene    10-p11-10777   6595
4 chr10  44997697  45000888 Pachytene    10-q11-242     3191
5 chr10  77763999  77783913 Pachytene    10-q22-16903  19914
6 chr10  83560992  83565126 Pachytene    10-q22-295     4134

In [114]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [115]:
h38_max <- h38 %>%
    group_by(V5) %>%
    slice(which.max(len))

In [116]:
head(h38_max)

  V1    V2        V3        V4           V5           len
1 chr1   24251429  24335724 Pachytene    1-p36-1107   84295
2 chr1  179585426 179591786 Pachytene    1-q25-2976    6360
3 chr1  222471907 222489700 Prepachytene 1-q41-289    17793
4 chr10  28789400  28795995 Pachytene    10-p11-10777  6595
5 chr10  44997697  45000888 Pachytene    10-q11-242    3191
6 chr10  77763999  77783913 Pachytene    10-q22-16903 19914

In [119]:
write.table(h38_max, file = "h38.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

In [4]:
#chromosome data
setwd("~/piRNA/Workspaces/julia/PrimaryData/ref_data/human")
chromosome_data<- read.table("summary_chroms.tsv", header=TRUE)

In [2]:
setwd("~/piRNA/Workspaces/julia/zamore_lab/coverage")
A1<- read.table("A1_coverage.bed", header=FALSE)

In [3]:
names(A1)[names(A1) == "V1"]<- "REFSEQ_CHROM"

In [4]:
coverage<- merge(A1, chromosome_data, by= "REFSEQ_CHROM")

In [9]:
head(coverage)

  UCSC_CHROM pos   V2    V3
1 chr1       10544 10545 1
2 chr1       10545 10546 1
3 chr1       10546 10547 1
4 chr1       10547 10548 1
5 chr1       10548 10549 1
6 chr1       10549 10550 1

In [6]:
coverage$pos <- coverage$V2 - 1

In [8]:
coverage<- coverage[,c(5,7,2,3)]

In [10]:
options(scipen = 99999)

In [11]:
setwd("~/piRNA/Workspaces/julia/zamore_lab/coverage")
write.table(coverage, file = "A1_coverage.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

In [7]:
setwd("~/piRNA/Workspaces/julia/zamore_lab/coverage")
A2<- read.table("A2_coverage.bed", header=FALSE)

In [8]:
names(A2)[names(A2) == "V1"]<- "REFSEQ_CHROM"

In [9]:
coverage<- merge(A2, chromosome_data, by= "REFSEQ_CHROM")

In [10]:
coverage$pos <- coverage$V2 - 1

In [11]:
coverage<- coverage[,c(5,7,2,3)]

In [12]:
options(scipen = 99999)

In [13]:
setwd("~/piRNA/Workspaces/julia/zamore_lab/coverage")
write.table(coverage, file = "A2_coverage.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

In [2]:
setwd("~/piRNA/Workspaces/julia/zamore_lab/coverage")
A3<- read.table("A3_coverage.bed", header=FALSE)

In [5]:
names(A3)[names(A3) == "V1"]<- "REFSEQ_CHROM"
coverage<- merge(A3, chromosome_data, by= "REFSEQ_CHROM")
coverage$pos <- coverage$V2 - 1
coverage<- coverage[,c(5,7,2,3)]
options(scipen = 99999)

In [14]:
setwd("~/piRNA/Workspaces/julia/zamore_lab/coverage")
write.table(coverage, file = "A4_coverage.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)

In [18]:
setwd("~/piRNA/Workspaces/julia/piRNA/unique_mapping/unique_coverage/Hum1")
Hum1<- read.table("Hum1_coverage", header=FALSE)

In [19]:
names(Hum1)[names(Hum1) == "V1"]<- "REFSEQ_CHROM"
coverage<- merge(Hum1, chromosome_data, by= "REFSEQ_CHROM")
coverage$pos <- coverage$V2 - 1
coverage<- coverage[,c(5,7,2,3)]
options(scipen = 99999)

In [20]:
write.table(coverage, file = "Hum1_coverage.bed", quote=FALSE, sep="\t", row.names = FALSE, col.names=FALSE)